
        <div class="col-md-8">
            <div class="feed">
                <div class="share border bg-white">
                    <div class="d-flex flex-row inputs p-2 py-4"><img class="rounded-circle" src="https://i.imgur.com/44HzzUN.jpg" width="40"><input type="text" class="border-0 form-control share-input" placeholder="Share your thoughts"></div>
                    <div class="d-flex flex-row justify-content-between border-top">
                        <div class="d-flex flex-row publish-options">
                            <div class="align-items-center border-right p-2 share"><i class="fa fa-camera text-black-50"></i><span class="ml-1">Photo</span></div>
                            <div class="align-items-center border-right p-2 share"><i class="fa fa-video-camera text-black-50"></i><span class="ml-1">Video</span></div>
                            <div class="align-items-center border-right p-2 share"><i class="fa fa-file text-black-50"></i><span class="ml-1">Files</span></div>
                        </div>
                        <div class="publish-button">
                            <div class="align-items-center border-left p-2 px-5 btn publish"><span class="ml-1">Publish</span></div>
                        </div>
                    </div>
                </div>
                <div class="ads mt-2 border">
                    <div class="p-2 bg-white">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <h6>Senior backend developer</h6><span class="border px-2 ads-text">Ad</span></div>
                        <div class="ads-content"><span>We selected the best tech projects to find you the ideal jobs. we offers salaries from $70K -100K so what you are waiting for just apply now with your latest resume.</span></div>
                    </div>
                </div>
                <div class="feed-post mt-2 border">
                    <div class="p-2 bg-white">
                        <div class="d-flex flex-row justify-content-between align-items-start profile">
                            <div class="d-flex align-items-center"><img class="rounded-circle img-responsive" src="https://i.imgur.com/44HzzUN.jpg" width="50" height="50">
                                <div class="d-flex flex-column ml-2">
                                    <h6>Junior digital designer</h6><span class="time">23,456 followers</span></div>
                            </div><i class="fa fa-ellipsis-h text-black-50 mt-2"></i></div>
                        <div class="profile-content"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
                            <div class="content-image"><img src="https://i.imgur.com/G9dMzll.jpg"></div>
                        </div>
                        <div class="profile-engagements"></div>
                    </div>
                </div>
                <div class="ads mt-2 border">
                    <div class="p-2 bg-white">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <h6 class="mt-1">Adobe photoshop XD</h6><span class="border px-2 ads-text">Sponsored</span></div>
                        <div class="ads-content"><span>We selected the best tech projects to find you the ideal jobs. we offers salaries from $70K -100K so what you are waiting for just apply now with your latest resume.</span><img class="img-fluid img-responsive mt-2" src="https://i.imgur.com/C1U3zy4.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
   
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>