<!-- <div class="card">
  <div class="card-body">
    <h4 class="card-title">Closes</h4>
    <h5 class="card-subtitle">the closes of contract</h5>

    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">id</th>
            <th class="text-dark font-medium fs-4">Title</th>
            <th class="text-dark font-medium fs-4">Description</th>
            <th class="text-dark font-medium fs-4">Date of Creation</th>
            <th class="text-dark font-medium fs-4">status</th>
            <th class="text-dark font-medium fs-4">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clause of clauses">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">{{ clause.id }}</h5>
                </div>
              </div>
            </td>

            <td>
              <h5 class="mb-0 font-medium">{{ clause.title }}</h5>
            </td>

            <td class="fs-4">{{ clause.description }}</td>
            <td>
              <h5 class="mb-0 font-medium">{{ clause.creationDate }}</h5>
            </td>
            <td>
              <h5 class="mb-0 font-medium">{{ clause.archived }}</h5>
            </td>
            <td>
              <h5 class="mb-0 fw-normal">
                <button
                  class="btn btn-sm btn-danger"
                  (click)="archive(clause.id)"
                >
                  Archive
                </button>
              </h5>
            </td>
            <td>
              <h5 class="mb-0 fw-normal">
                <button class="btn btn-sm btn-info">Update</button>
              </h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<p-table [value]="clauses" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>description</th>
            <th>action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-clause>
        <tr>
            <td>{{clause.id}}</td>
            <td>{{clause.title}}</td>
            <td>{{clause.description}}</td>
            <td>{{clause.creationDate}}</td>
            
            <td>
                <h5 class="mb-0 fw-normal">
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="archive(clause.id)"
                    [hidden]="clause.archived==true"
                  >
                    Archive
                  </button>
                </h5>
              
                <h5 class="mb-0 fw-normal">
                  <button
                    class="btn btn-sm btn-success"
                    (click)="noarchive(clause.id)"
                    [hidden]="clause.archived==false"
                    
                  >
                    desarchive
                  </button>
                </h5>
              </td>
        </tr>
    </ng-template>
</p-table>


