<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">Closes</h4>
                <h5 class="card-subtitle">the closes of contract</h5>
            
        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Title</th>
                        <th class="text-dark font-medium fs-4">Description</th>
                        <th class="text-dark font-medium fs-4">Date of Creation</th>
                        <th class="text-dark font-medium fs-4">Action</th>
                        <!-- <th class="text-dark font-medium fs-4"></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let ts of topSelling'>
                        <td>
                            <div class="d-flex align-items-center">
                                <img [src]=ts.image alt="user" width="45" class="rounded-circle">
                                <div class="ms-3">
                                    <h5 class="mb-0 font-medium">{{ts.uname}}</h5>
                                    <span class="text-muted">{{ts.gmail}}</span>
                                </div>
                            </div>
                        </td>
                        <td class="fs-4">{{ts.productName}}</td>
                        <td>
                            <span class="p-2 bg-{{ts.status}} rounded-circle d-inline-block ms-3"></span>
                        </td>
                        
                        <td>
                            <h5 class="mb-0 fw-normal"><button class="btn btn-sm btn-danger">Archive</button></h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal"><button class="btn btn-sm btn-info">Update</button></h5>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
    </div>
    
</div>